<?xml version="1.0" encoding="utf-8"?>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name="mozilla.telemetry.glean.debug.GleanDebugActivity"
            tools:node="remove" />

        <receiver
            android:name="com.adjust.sdk.AdjustPreinstallReferrerReceiver"
            tools:node="remove" />

        <receiver
            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
            tools:node="remove" />

        <receiver
            android:name="org.mozilla.fenix.messaging.QAMessageNotificationWorkerReceiver"
            tools:node="remove" />

        <receiver
            android:name="org.mozilla.fenix.experiments.QANimbusToolingReceiver"
            tools:node="remove" />

        <receiver
            android:name="org.mozilla.fenix.onboarding.WidgetPinnedReceiver"
            android:exported="false"
            tools:replace="android:exported" />
    </application>

</manifest>
